[Unit]
Description=fastloan
After=network.target

[Service]
User=fastloan
Group=fastloan
EnvironmentFile=-/home/fastloan/.env
EnvironmentFile=-/home/fastloan/main/systemd/fastloan.ini
WorkingDirectory=/home/fastloan/main
# ExecStart=/home/asb/.venv/asb/bin/gunicorn www.asgi:application -w 8 -k uvicorn.workers.UvicornWorker -b unix:/var/run/gunicorn/asb.sock -p /var/run/gunicorn/asb.pid --error-logfile /var/log/gunicorn/asb-errors.log --capture-output
ExecStart=/bin/sh -c '${PYTHON_BIN} main.py'
Restart=always
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
