name: Master CD

on:
  push:
    branches:
      - master
# finderado-h1,

jobs:
  deployment_rel:
    strategy:
      matrix:
        host: [fastloan-h2]

    runs-on: ${{ matrix.host }}
    environment: development
    steps:
      - uses: actions/checkout@v3

      - run: |
          export PYENV_ROOT="$HOME/.pyenv"
          [[ -d $PYENV_ROOT/bin ]] && export PATH="$PYENV_ROOT/bin:$PATH"
          eval "$(pyenv init -)"
          eval "$(pyenv virtualenv-init -)"
          pyenv activate main
          pip install -r requirements.txt
          ./manage.py collectstatic --noinput
      - run: rsync -a --delete --exclude=/.git/ --exclude=/.github/ ./ ~/main/
      - run: if [ -e /var/run/gunicorn/finderado.pid ]; then kill -HUP `cat /var/run/gunicorn/finderado.pid`; else echo > ~/main/restart.txt; fi
      - run: if [ -e /home/finderado/data/tgf.pid ]; then kill -HUP `cat /home/finderado/data/tgf.pid`; else echo > ~/main/restart_tgf.txt; fi

#      - run: |
#          source ~/.venv/main/bin/activate
#          cd ~/main
#          ./manage.py collectstatic --noinput
#      - run: if [ -e /var/run/gunicorn/finderado.pid ]; then kill -HUP `cat /var/run/gunicorn/finderado.pid`; else echo > ~/main/restart.txt; fi
#          source ~/.venv/main/bin/activate
#          /home/finderado/.pyenv/shims/python3.12 -m pip install -r requirements.txt
